* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    color: #3D3A3A;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", sans-serif;
    color: #3D3A3A;
    margin-bottom: 24px;
}

h1 {
    font-size: 48px;
    line-height: 120%;
}

h2 {
    font-size: 40px;
    line-height: 120%;
}

h3 {
    font-size: 32px;
    line-height: 130%;
}

h4 {
    font-size: 24px;
    line-height: 140%;
}

h5 {
    font-size: 20px;
    line-height: 140%;
}

h6 {
    font-size: 16px;
    line-height: 150%;
}

p {
    font-size: 18px;
    line-height: 150%;
    font-weight: normal;
    font-family: "Inter", sans-serif;
    width: auto;
}

.semi-bold {
    font-weight: 600;
}

.regular {
    font-size: 16px;
}

.small {
    font-size: 14px;
}

.tiny {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #3D3A3A;
    transition: 0.5s;
}

a:hover {
    color: #3464F2;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-16 {
    margin-bottom: 16px;
}

.udl {
    text-decoration: underline;
}

.bs {
    box-shadow: -3px 2px 8px 0px rgba(224,221,224,1);
}

.bc {
    background-color: rgba(247, 246, 246, 0.697);
}

.bo {
    background-color: #3464F2;
    opacity: 100%;
    z-index: 100;
}