@media (min-width:1200px) {
    .nav-bar {
        border-bottom: 1px solid rgb(159, 159, 159);
        background-color: white;
        position: sticky;
        top: 0;
        left: 0;
    }

    .nav-links {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 8px 50px;
    }

    .nav-links li {
        font-size: 18px;
        line-height: 150%;
        font-weight: normal;
        cursor: pointer;
        font-family: "Inter", sans-serif;
        transition: 0.5ms;
        height: 70px;
    }

    .nav-links a:hover {
        color: #3463F2;
    }

    .nav-links a {
        height: 100%;
        padding: 0px 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #3D3A3A;
    }

    .nav-links li:first-child {
        margin-right: auto;
    }
    
    .logo {
        width: 110px;
        height: 100%;
    }
    
    .logo-img {
        width: 100%;
        cursor: pointer;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 1000;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .sidebar li {
        width: 100%;
        list-style: none;
        padding: 20px 14px;
        font-family: "Inter", sans-serif;
    }

    .sidebar li:hover {
        background-color: lightgray;
    }

    .sidebar a {
        width: 100%;
    }
        
    .hero-section {
        width: 100%;
        height: 1024px;
    }
    
    .hero-banner {
        width: 100%;
        height: 703px;
    }
    
    .hero-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .hero-content {
        display: flex;
        padding: 80px 64px;
        height: 321px;
        justify-content: space-between;
        gap: 48px;
        transition: 0.5s;
    }
    
    .left-column, .right-column {
        max-width: 580px;
        width: auto;
    }
    
    .hero-content > .right-column p {
        margin-bottom: 30px;
    }
    
    .features-section {
        display: flex;
        padding: 112px 64px;
        justify-content: space-between;
        align-items: center;
        gap: 48px;
        transition: 0.5s;
    }
    
    .features-section .left-column {
        max-width: 600px;
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .features-section .right-column {
        max-width: 600px;
        width: auto;
        height: 620px;
    }
    
    .flex {
        display: flex;
        gap: 20px;
        width: inherit;
    }
    
    .left-column h2, p {
        margin-bottom: 20px;
    }
    
    .option {
        max-width: 296px;
        width: auto;
    }
    
    .CTA {
        display: flex;
        gap: 10px;
        align-items: center;
        max-width: 140px;
        width: auto;
        justify-content: space-between;
    }
    
    .bi {
        font-size: 20px;
    }
    
    .feature-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid rgb(238, 238, 238);
        border-radius: 20px;
    }
    
    .services-section {
        width: auto;
        height: 100%;
        padding: 112px 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .services-section h2, h4 {
        margin-bottom: 20px;
    }
    
    .upper {
        max-width: 768px;
        width: auto;
        height: 100%;
        text-align: center;
        margin-bottom: 80px;
    }
    
    .lower {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
        gap: 48px;
    }
    
    .service {
        text-align: center;
    }
    
    .service .bi {
        font-size: 25px;
    }
    
    .service h4 {
        margin-top: 20px;
    }
    
    .CTA-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        padding: 112px 64px;
        text-align: center;
        border-bottom: 1px solid #3D3A3A;
    }
    
    .CTA-card h2 {
        margin-bottom: 24px;
    }
    
    .CTA-card .content {
        margin-bottom: 8px;
    }
    
    .FAQ-section {
        /* width: 100%; */
        width: auto;
        height: 100%;
        padding: 112px 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .FAQ {
        /* width: 770px; */
        max-width: 770px;
        width: auto;
        height: 100%;
    }
    
    .FAQ-tag {
        text-align: center;
        margin-bottom: 80px;
    }
    
    .enquiry {
        height: 160px;
        text-align: center;
        margin-top: 80px;
    }
    
    .accordion {
        width: 100%;
        border: none;
        padding: 20px 24px;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        transition: 0.5s;
    }
    
    .active, .accordion:hover {
        background-color: rgb(221, 221, 221);
    }
    
    .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        font-size: 20px;
    }
      
    .active:after {
        content: "\2212";
    }
    
    .panel {
        padding: 0px 24px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    
    .contact-section {
        /* width: 100%;
        height: 970px; */
        width: auto;
        height: 100%;
        padding: 112px 64px;
    }
    
    .connect {
        margin-bottom: 80px;
    }
    
    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* height: 516px; */
        height: 100%;
    }
    
    .info h6 {
        margin-top: 16px;
    }
    
    .info-left-column {
        /* width: 400px;
        height: 516px; */
        max-width: 400px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
    }
    
    .info-left-column h6, p {
        margin-bottom: 8px;
    }
    
    .info-right-column {
        max-width: 830px;
        width: auto;
        height: 100%;
    }
    
    .info-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    
    .link .semi-bold {
        margin-bottom: 16px;
    }
    
    .footer-section {
        /* width: 100%; */
        width: auto;
        height: 100%;
        padding: 80px 64px;
    }
    
    .upper-links {
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;  
    }
    
    .links {
        display: flex;
        gap: 40px;
    }
    
    .lower-links {
        border-top: 1px solid #3D3A3A;
        padding-top: 32px;
        display: flex;
        gap: 24px;
    }
}

@media (min-width:768px) {
    .menu-icon {
        display: none;
    }
}